@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
#board {
    border: 0.5px black solid;
    
  }
  
  .play {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "rubik vinyl", sans-serif;
  }

  .play2 {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "rubik vinyl", sans-serif;
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}



  .cell {
    background-color: limegreen;
    width: 100px;
    height: 100px;
  }
  
  .cell.on {
    background-color: white;
  }

 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}